[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FAOSTAT"]
	path = FAOSTAT
	url = https://gitlab.com/paulrougieux/faostatpackage
	subdir = FAOSTAT
